## Introduction to Pandas - DataFrame & Series

In [1]:
import pandas as pd

### Series
''' Pandas series is one dimensional array-obj that can hold any data type.
it is similar to a column in a table.'''

In [3]:
import pandas as pd
data = pd.Series([23,34,46,57,61])
print(data)
print(type(data))

0    23
1    34
2    46
3    57
4    61
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
# Series from Dictionary
data = pd.Series({'a': 5,'b': 8,'c': 2, 'd': 7})
print(data)

a    5
b    8
c    2
d    7
dtype: int64

In [11]:
data = [31,33,35,37,39]
idx = ['a','c','e','g','i']
pd.Series(data,idx)

a    31
c    33
e    35
g    37
i    39
dtype: int64

### DataFrame
''' DataFrame is a 2D mutable heterogenous tabular data
It can have multiple rows & cols
'''

In [15]:
# DataFrame from dictrionary
import pandas as pd
data = {
    'Name' : ['Lana','Abel','Bella'],
    'Age' : [30,31,25],
    'Place' : ['Malibu','Bay-Area','Hollywood']
}
df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age      Place
0   Lana   30     Malibu
1   Abel   31   Bay-Area
2  Bella   25  Hollywood
<class 'pandas.core.frame.DataFrame'>

In [16]:
import numpy as np
n = np.array(df)
print(n)

[['Lana' 30 'Malibu']
 ['Abel' 31 'Bay-Area']
 ['Bella' 25 'Hollywood']]

In [ ]:
# create a DataFrame from list of dictionaries