## Introduction to Tuples
- Tuples are ordered collections of items that are immutable.
- similar to list but immutability makes them different

### Class Outline-
1. Creating Tuples
2. Accessing Elements
3. Immutable nature of tuples
4. Packing & Unpacking tuples
5. Nested Tuples
6. Common Errors

In [2]:
# Create Tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

empty_list = list()
print(type(empty_list))

tpl = tuple()
print(type(tpl))

()
<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [ ]:
# Type conversion
# tuples can be converted to list and vice versa

given_list = [1,2,3,4,5]
print(tuple(given_list))

list((21,22,23,24,25))

(1, 2, 3, 4, 5)

[21, 22, 23, 24, 25]

In [5]:
# Mixed Tuple
a_tuple = ('a', 4, 7.5, True)
print(a_tuple)

('a', 4, 7.5, True)

### Tuple Operations
- Indexing
- Slicing
- Concatenation
- Repetition

In [ ]:
# Accessing and Slicing of Tuple elements

num = (22,31,67,45,89,33,67,73,99,15)
print(num[2]) # Indexing
print(num[5:])
print(num[::2]) 
print(num[4:8]) # Slicing
print(num[-4])
print(num[::-1])

67
(33, 67, 73, 99, 15)
(22, 67, 89, 67, 99)
(89, 33, 67, 73)
67
(15, 99, 73, 67, 33, 89, 45, 67, 31, 22)

In [ ]:
# Concatenation